.info {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background-color: rgb(248, 250, 252);
  border-color: rgb(112, 160, 233);
  color: rgb(31, 106, 221);
  border-top-width: 1px;
  border-left-width: 4px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  position:relative;
  border-style: solid;
  border-radius: 4px;
}

div.info:before {
  content: "\f06a";
  font-family: FontAwesome;
  left:4%;
  position: absolute;
  top: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 35px;
  color: rgb(112, 160, 233);
}

.info > a {
  color: rgb(31, 106, 221);
  font-weight: bold;
}
